.leaflet-container {
  margin-top: 65px;
  height: 80vh;
  width: 100%;
  background: #0ab3e1 !important;
}

.navbar {
  box-shadow: 3px 3px 5px #0ab3e1;
  opacity: 0.8;
  font-family: "KoHo", sans-serif;
}

.background {
  background-image: url("/src/IMG/background.png");
  background-color: #e8c0d2;
 }

 .text {
   text-align: center;
   color: #4ea5e8;
 }